:root {
	--white: #ffffff;
	--gray-gr-01: #858585;
	--gray-gr-02: #5a5a5a;
	--gray-gr-03: #cacaca;
	--gray-gr-04: #d9d9d9;
	--gray-gr-05: #faf9f9;
	--gray-gr-06: #eaecf0;
	--gray-gr-07: #f3f3f3;
	--black-bl-01: #3f3f3f;
	--purple-pr-01: #8c81b8;
	--purple-pr-02: #7264af;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 !important;
}
